<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<img id="img-of-the-day" style="width: 300px; height: 300px">
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=w1IPv8TeIzZIucnGYIt94cRxW5NMLrVphcq8bs8e';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
<form th:object="${comment}" method="post" action="/">
        Author:
    <input  th:field="*{author}"> <br><br>
    Feedback:
    <textarea rows="3" th:field="*{content}"></textarea> <br> <br>
    <input type="submit" th:value="Comment">
</form>
    <table>
        <tr>
            <th>Author</th>
            <th>Comment</th>
            <th>Like</th>
        </tr>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.author}"></td>
            <td th:text="${comment.content}"></td>
            <td th:id="'show' + ${comment.id}" th:text="${comment.likes}"></td>
            <td><button th:inf="${comment.id}">Like</button></td>
        </tr>
    </table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function ajax(id){

        $.ajax({
            url: '/likes',
            method:'get',
            data: {
                id: id
            },
            success: function (response){
                console.log(document.querySelector(`#show${id}`))
                document.querySelector(`#show${id}`).innerText = response;
            },
            error: function (er){
                console.log(er)
            }
        })
    }
    let listButton = document.querySelectorAll('button')
    for(let x of listButton){
        x.onclick = function (){
            ajax(x.getAttribute('inf'))
        }
    }
</script>
</body>
</html>